.perfil-container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

body{
      background: url('../../public/vecteezy_pizza-web-banner-with-copy-space_26466926.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile-card {
  width: 350px;
  padding: 25px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-align: left;
}

header h2 {
  color: #000000;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
}

.profile-card p {
  margin: 12px 0;
  font-size: 1.1rem;
  color: #000000;
}

.btn-atualizar {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 8px;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  backdrop-filter: blur(4px);
  transition: 0.3s;
}

.btn-atualizar:hover {
  background: rgba(255, 255, 255, 0.5);
}
