.container{
      width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
background-color: rgb(255, 255, 255);
border-radius: 12px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.15);
}

button {
  margin-top: 10px;
  padding: 12px;
  background: #6C63FF;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.25s;
  
}